# Scala CLI
.scala-build/
.bsp/

# sbt
target/
project/target/
project/project/

# Bloop / Metals (IDE)
.bloop/
.metals/
.ammonite/

# Compilados JVM
*.class
*.tasty

# Python (script NER)
venv/
env/
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
